@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');


* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #5CDB95;
    font-family: 'Chango', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;    
}

h1 {
    margin: 20px;
    padding-bottom: 50px;
    
}

.box {      
    display:flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
    margin: 10px;
    border: 1px outset #5CDB95;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    transform: translateX(400%);
    transition: transform 0.4s ease;

}

.box:nth-of-type(even) {
    transform: translateX(-400%);
}

.box.show {
    transform: translateX(0);
}
.box img {  
    width: 100%;
    height: 100%;

}