@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-color: #2a2a72;
    color:white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

