* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color:#ce3635;
    text-align: center;
    color:#fff;
    overflow: hidden;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 60px;
}

